<div class="login-wrapper">
  <!-- Left Side: Branding -->
  <div class="brand-section">
    <div class="brand-header">
      <mat-icon>home</mat-icon> <span>Portail</span>
    </div>

    <div class="brand-content">
      <h1 class="main-title">GRH</h1>
      <p class="subtitle">ARMP gestion RH</p>

      <div class="sector-badge">
        Secteur public
      </div>
    </div>

    <div class="brand-footer">
      <p>© Autorité de Régulation des Marchés Publics</p>
    </div>
  </div>

  <div class="form-section">
    <div class="login-card">

      <div class="logos-container">
        <img src="assets/logo.png" alt="ARMP Logo" class="armp-logo">
    
      </div>

      <div class="form-content">
        <label class="input-label">Identifiant</label>
        <div class="form-group">
          <input type="text" name="username" [(ngModel)]="credentials.username" placeholder="Identifiant"
            [disabled]="isLoading" class="custom-input">
        </div>

        <label class="input-label">Mot de passe</label>
        <div class="form-group">
          <input type="password" name="password" [(ngModel)]="credentials.password" placeholder="••••••"
            [disabled]="isLoading" class="custom-input">
        </div>

        <div class="form-options">
          <a href="#" class="forgot-password">Login ou mot de passe oublié?</a>
        </div>

        <div *ngIf="errorMessage" class="error-text">
          {{ errorMessage }}
        </div>

        <button (click)="onSubmit()" [disabled]="isLoading" class="btn-connect">
          <span *ngIf="!isLoading">Connecter</span>
          <div *ngIf="isLoading" class="spinner"></div>
        </button>

        <div class="separator"></div>

        <button class="btn-register">
          S'inscrire
        </button>
      </div>
    </div>
  </div>
</div>