@use '@angular/material' as mat;

$my-theme: mat.define-theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0)));

$my-dark-theme: mat.define-theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: dark),
      density: (scale: 0)));

html {
  @include mat.theme($my-theme);
}

body.dark-theme {
  @include mat.theme($my-dark-theme);
  color-scheme: dark;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}