.pdf-viewer-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #525659;
}

.pdf-viewer-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}